#services{
    padding: 100px 0;
flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
   .card-serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    margin-right: 80px;
    .icon{
border: 8px solid rgb(170, 169, 169);
background-color: black;
border-radius: 50%;
width: 60px;
height: 60px;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 26px;
    }
    h3{
padding-top: 24px;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
    }
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }
   } 
}