.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 10px 15px;
    background-color: #F5F5F5;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  
  .back-to-top-button.visible {
    opacity: 1;
    visibility: visible;
  }
  